*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: url(bg.jpg);
    background-position: center;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
ul{
    margin-top: 4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color:  rgb(71, 5, 255);
    margin-top: 3%;
    transition: .4s ease;
}
ul li a:hover{
    color: rgb(71, 5, 255);
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h1{
    font-style:oblique ;
    font-size: 65px;
    color: rgb(36,32,30);
}
.info h3{
    font-style:oblique ;
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 28px;
}

.info span{
    color: rgb(71, 5, 255);
}

.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
.info a:hover{
    background: rgb(71, 5, 255);

}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    border-radius: 50%;
    border-color: rgb(71, 5, 255);

    height: 140%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
}
.image:hover .profile{
    left: 55%;
}
.icons a{
    text-decoration: none;
    color: #000;
}
.icons ion-icon{
    margin-left: 7%;
    color: #000;
    margin-right: -70px;
    font-size: 50px;
}
.icons ion-icon:hover{
    color: rgb(71, 5, 255);

}
.about_me{
    background-color: #ededed;
    margin-bottom: 30px;
}
.about_me h2{
    color: rgb(16, 11, 9);
    font-size: 50px;
    margin-top: 350px;
    letter-spacing: 3px;

}
.about_me span{
    color: rgb(71, 5, 255);
}
.about_me h3{
    font-size: 30px;
    margin-top: 20px;
}
.about_me p{
    font-style: oblique;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 4px;
}
.about_me p1{
    font-size: 20px;
    margin-top: 50px;
    letter-spacing: 4px;
    
}
.skill{
    background-color: #ededed;
    margin-top: 30px;
}
.skill h1{
     font-style:oblique ;
     font-size: 50px;
}
.skill span{
    color: rgb(71, 5, 255);

}
.skill h2{
    font-style:oblique ;
    font-size: 20px;
    margin-top: 30px;
}
.lang{
    background-color: #ededed;
    margin-top: 30px;
}
.lang h1{
    font-style:oblique ;
    font-size: 50px;
}
.lang span{
    color: rgb(71, 5, 255);

}
.lang h2{
    font-style:oblique ;
    font-size: 20px;
    margin-top: 30px;
}
.contact{
    background-color: #ededed;
    margin-top: 30px;
}
.contact h1{
    font-size: 30px;
    text-align: center;
}
.contact h2{
    font-size: 40px;
    text-align: center;
}
.contact span{
    color: rgb(71, 5, 255);

}
.contact h3{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-style: oblique;
}
.contact h4{

    text-align: center;
    font-size: 20px;
    font-style: oblique;
}
